<!DOCTYPE html>
<html>
<head>
    <title>Iniciar Sesión</title>
</head>
<body>
    <div class="container">
        <div class="login-container">
            <h2>Iniciar Sesión</h2>
            <form #r="ngForm" (ngSubmit)="login()">
                <input type="text" name="email" placeholder="Correo Electrónico" [(ngModel)]="sesionDTO.email">
                <input type="password" name="password" placeholder="Contraseña" [(ngModel)]="sesionDTO.password">
                <p class="forgot-password"><a href="#" >¿Olvidaste tu contraseña?</a></p>
                <input type="submit" value="Iniciar Sesión" class="login-button">
                <app-alerta [alerta]="alerta"></app-alerta>
            </form>
        </div>
        <img src="assets\imagenes\doctor.png" alt="Doctores">
    </div>
</body>
</html>


