<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="registro-paciente.component.css">
    <title>Formulario Dividido en Dos Columnas</title>
</head>
<body>
    <div class="container">
        <h2>Registrarse</h2>
        <form>
            <div class="form-column">
                <div>
                    <label for="nombre">Nombre:</label>
                    <input type="text" name="nombre" />
                </div>

                <div>
                    <label for="cedula">Cédula:</label>
                    <input type="text" name="cedula" />
                </div>

                <div>
                    <label for="ciudad">Ciudad:</label>
                    <input type="text" name="ciudad" />
                </div>

                <div>
                    <label for="especialidad">Especialidad:</label>
                    <input type="text" name="especialidad" />
                </div>
            </div>

            <div class="form-column">
                <div>
                    <label for="correo">Correo:</label>
                    <input type="text" name="correo" />
                </div>

                <div>
                    <label for="telefono">Teléfono:</label>
                    <input type="text" name="telefono" />
                </div>

                <div>
                    <label for="password">Contraseña:</label>
                    <input type="password" name="password" />
                </div>

                <div>
                    <label for="confirmaPassword">Confirmar contraseña:</label>
                    <input type="password" name="confirmaPassword" />
                </div>

                <div>
                    <label for="horaInicioJornada">Hora de entrada:</label>
                    <input type="text" name="horaInicioJornada" />
                </div>

                <div>
                    <label for="horaFinJornada">Hora de salida:</label>
                    <input type="text" name="horaFinJornada" />
                </div>
            </div>
            
            <button type="submit" value="Enviar">Registrarse</button>

            <app-alerta [alerta]="alerta"></app-alerta>
        </form>
    </div>
</body>
</html>
