
    body {
        margin: 0;
        padding: 0;
        background-color: #fff; /* Fondo blanco */
        font-family: Arial, sans-serif;
    }
    .container {
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .login-container {
        background-color: #3498db; /* Azul */
        border-radius: 8px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        padding: 20px;
        text-align: center;
        width: 350px;
    }
    .login-container img {
        max-width: 100px;
    }
    .login-container h2 {
        color: #fff; /* Texto blanco */
    }
    .login-container input[type="text"],
    .login-container input[type="password"] {
        width: 100%;
        padding: 10px;
        margin: 10px 0;
        border: none;
        border-radius: 5px;
    }
    .login-container .forgot-password {
        text-align: right;
        color: #fff;
    }
    .login-button {
        background-color: #2980b9; /* Azul más oscuro */
        color: #fff;
        padding: 10px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        width: 100%;
        transition: background-color 0.3s; /* Agrega una transición de 0.3 segundos */
    }
    .login-button:hover {
        background-color: #2c3e50; /* Cambia el color al pasar el mouse (hover) */
    }

    .forgot-password-link {
      color: #ffffff; /* Change the color to your preferred color */
      text-decoration: none; /* Remove the underline */
      cursor: pointer; /* Show pointer cursor on hover for better user experience */
    }

    .forgot-password-link:hover {
      text-decoration: underline; /* Add underline on hover if desired */
    }
