
<header class="p-3 text-bg-dark">
  <div class="container">
  <div class="d-flex flex-wrap align-items-center justify-content-center
  justify-content-lg-start">
  <a routerLink="" class="d-flex align-items-center mb-2 mb-lg-0 text-bg-dark
  text-decoration-none">
  <span class="fs-4 ms-3 me-3">{{title}}</span>
  </a>
  <ul *ngIf="roles.includes('admin')" class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
    <li><a routerLink="/crear-medico" class="nav-link px-1 text-secondary fs-4 ms-3 me-1 text-dark">Crear Médico</a></li>
    <li><a routerLink="/gestion-medico" class="nav-link px-1 text-secondary fs-4 ms-3 me-1 text-dark">Listar Medicos</a></li>
    <li><a routerLink="/gestion-pqrs" class="nav-link px-1 text-secondary fs-4 ms-3 me-1 text-dark">Gestión PQRS</a></li>
    <li><a routerLink="/lista-citas" class="nav-link px-1 text-secondary fs-4 ms-3 me-1 text-dark">Lista Citas</a></li>

  </ul>
  <ul *ngIf="roles.includes('paciente')" class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
    <li><a routerLink="/lista-citas" class="nav-link px-1 text-secondary fs-4 ms-3 me-1 text-dark">Gestionar Citas</a></li>
    <li><a routerLink="/gestion-pqrs" class="nav-link px-1 text-secondary fs-4 ms-3 me-1 text-dark">Gestión PQRS</a></li>
    <li><a routerLink="/gestion-paciente" class="nav-link px-1 text-secondary fs-4 ms-3 me-1 text-dark">Editar perfil</a></li>
    <li><a routerLink="/gestion-historial" class="nav-link px-1 text-secondary fs-4 ms-3 me-1 text-dark">Historial</a></li>
  </ul>
  <ul *ngIf="roles.includes('medico')" class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
    <li><a routerLink="/gestion-historial" class="nav-link px-1 text-secondary fs-5 ms-3 me-1 text-dark"><i class="fas fa-file-medical"></i> Historiales</a></li>
    <li><a routerLink="/lista-citas" class="nav-link px-1 text-secondary fs-5 ms-3 me-1 text-dark"><i class="fas fa-calendar-alt"></i> Citas Pendientes</a></li>
    <li><a routerLink="/gestion-paciente" class="nav-link px-1 text-secondary fs-5 ms-1 me-1 text-dark"><i class="fas fa-calendar-plus"></i> Agendar día libre</a></li>
    <li><a routerLink="/citas-realizadas" class="nav-link px-1 text-secondary fs-5 ms-1 me-1 text-dark"><i class="fas fa-check-circle"></i> Citas realizadas</a></li>
  </ul>
  

<div *ngIf="!isLogged; then nologged else logged"></div>
<ng-template #nologged>
  <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"></ul>
<div class="text-end">
<button type="button" routerLink="/login" class="btn btn-warning me-2">Login</button>
<button type="button" routerLink="/registro" class="btn btn-warning">Sign-up</button>
</div>
</ng-template>
<ng-template #logged>
<div class="text-end">
<label class="me-3" >Hola {{email}}</label>
<button type="button" (click)="logout()" class="btn btn-warning">Logout</button>
</div>
</ng-template>


  </div>
  </div>
  </header>
  <div class="seccion-pagina p-4">
    <router-outlet></router-outlet>
  <div class="container" >
  </div>
  </div>
<div class="container">
<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4
border-top">
<div class="col-md-4 d-flex align-items-center">
<span class="mb-3 mb-md-0 text-muted">&copy; Clinica del Carmen</span>
</div>
</footer>
</div>
