<div class="container">
    <div class="text-center">
        <h2>Asignación de Citas</h2>
    </div>

    <form #f="ngForm" (ngSubmit)="crearCita()">
        <!-- Información de la Cita -->
        <div class="cita-section">
            <div class="cita-box">
                <!-- Fecha de la Cita -->
                <div class="mb-3 row">
                    <label class="col-sm-2 col-form-label">Fecha: </label>
                    <div class="col-sm-10">
                        <input type="date" name="fechaNacimiento" [(ngModel)]="medicosDisponibles.fecha" required />
                    </div>
                </div>

                <!-- Especialidad -->
                <div class="mb-3 row">
                    <label class="col-sm-2 col-form-label">Especialidad: </label>
                    <div class="col-sm-10">
                        <select name="tipoSangre" required class="form-select" [(ngModel)]="medicosDisponibles.especialidad">
                            <option value="" selected>Seleccione la especialidad</option>
                            <option [value]="item" *ngFor="let item of especialidades; index as i">{{item}}</option>
                        </select>
                    </div>
                </div>

                <div class="text-center"> <!-- Agregado -->
                    <button type="button" [disabled]="medicosDisponibles.especialidad == '' || medicosDisponibles.fecha==''" class="btn btn-primary"
                            (click)="buscarMedico()">
                    <i class="fa-solid fa-cloud-arrow-up me-2"></i>Buscar Médico
                    </button>
                </div>
                <br>
                
                <!-- Médico -->
                <div class="mb-3 row">
                    <label class="col-sm-2 col-form-label">Médico / Hora: </label>
                    <div class="col-sm-10">
                        <select name="tipoSangre" required class="form-select" [(ngModel)]="medicoSeleccionado">
                            <option value="" selected>Seleccione médico</option>
                            <option [value]="item" *ngFor="let item of medicos; index as i">{{item.nombreMedico}} -> {{item.horaDisponible}} </option>
                        </select>
                    </div>
                </div>

                <div class="mb-3 row">
                    <label class="col-sm-2 col-form-label">Motivo: </label>
                    <div class="col-sm-10">
                    <input #nombre="ngModel"
                    [ngClass]="nombre.invalid && (nombre.dirty || nombre.touched) ? 'is-invalid' : ''"
                    type="text"
                    name="nombre" class="form-control" required [(ngModel)]="itemCitaPacienteDTO.motivo" />
                    </div>
                    </div>
            </div>
        </div>

       <div class="text-center">
        <button class="btn btn-primary" type="submit" [disabled]="f.invalid">
            <i class="fa-solid fa-circle-plus me-1"></i>Agendar cita
        </button>
        </div>

        <!-- Componente de Alerta -->
        <app-alerta [alerta]="alerta"></app-alerta>
    </form>
</div>
