<div class="card">
    <div class="card-header ps-5 pt-4 pb-4">
    <h5 class="mb-0"><i class="fa-solid fa-comments me-3"></i>Gestión de Citas</h5>
    </div>
    <div class="card-body p-5">
    <div class="mb-3">
    <button type="button" routerLink="/crear-cita" class="btn btn-success me-2"><i
    class="fa-solid fa-plus me-1"></i> Crear</button>
    </div>
    <table class="table table-striped table-hover">
    <thead>
    <tr>
    <th>Código</th>
    <th>Motivo</th>
    <th>Fecha de radicación</th>
    <th>Paciente</th>
    <th>Medico</th>
    <th>Estado</th>
    </tr>
    </thead>
    <tbody class="table-group-divider">
    <tr>
    <td><p>item 1</p></td>
    <td><p>item 2</p></td>
    <td><p>item 3</p></td>
    <td><p>otros items</p></td>
        </tr>
        </tbody>
        </table>
        </div>
        </div>
